//======================================================EXAMPLES=======================================================
section.c-portfolio-examples
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 Примеры работ:
	.c-btstrp-row
		.c-portfolio-examples-content.c-portfolio-thumbnails
			ul
				mixin card(url,imgFileName,altText,text, url2, text2)
					li
						a(href= url, target="_blank")
							img(src="img/" + imgFileName, alt= altText)
							.c-portfolio-thumbnail-label.c-portfolio-text-b
								p= text
				+card(
				"https://gitlab.com/stepanovv/articles-product/-/blob/master/сантех_умник/диплом.md","markdown.jpg","Thumbnail of screenshot",
				"Текст: продуктовая аналитика в домене инженерной сантехники")
				+card(
				"https://gitlab.com/stepanovv/articles-product/-/blob/master/давай_поучимся/продуктовая_аналитика.md","markdown.jpg","Thumbnail of screenshot",
				"Текст: продуктовая аналитика в домене онлайн образования")
				+card(
				"https://gitlab.com/stepanovv/kbo/-/blob/master/public/articles/public/страшная%20сила%20красоты/страшная%20сила%20красоты.md#универсальный-диалект-схема-данных","markdown.jpg","Thumbnail of screenshot",
				"Текст: API центричный подход к проектированию")
				+card(
				"https://gitlab.com/stepanovv/articles-manager/-/blob/master/техника/хранилище.md#оптимизация-стэка-хранения","markdown.jpg","Thumbnail of screenshot",
				"Текст: анализ стэка хранения данных")
				+card(
				"https://gitlab.com/stepanovv/articles-manager/-/blob/master/техника/доступность.md#непрерывность","markdown.jpg","Thumbnail of screenshot",
				"Текст: business continuity management")
				+card(
				"https://gitlab.com/stepanovv/code_quality_js/-/tree/master","gh_code_thumb.jpeg","Thumbnail of screenshot",
				"Проверка качества кода")
				+card(
				"https://gitlab.com/stepanovv/webpack-dep-graph/-/tree/master","gh_code_thumb.jpeg","Thumbnail of screenshot",
				"Граф из webpack stats.json")
				+card(
				"https://stackblitz.com/edit/rxjs-aj4vwd","stb_code_thumb.jpeg","Thumbnail of screenshot",
				"Код-справочник RxJS")
				+card(
				"https://stackblitz.com/edit/rxjs-pqnejm-async","stb_code_thumb.jpeg","Thumbnail of screenshot",
				"Код-справочник асинхронного JS")
				// "https://profgallery.ru","pg_thumb.jpg","Thumbnail of screenshot",
					+card(
					"img/pg-corporate-landing.jpg","pg_thumb.jpg","Thumbnail of screenshot",
					"Pixel perfect вёрстка")
					+card(
					"https://bitbucket.org/bskydive/bookstore-client/overview","bookstoreclient_thumb.png","Thumbnail of screenshot",
					"Исходный код на Angular 6/pug/stylus/webpack 4")
					+card(
					"https://bitbucket.org/bskydive/bookstore-server/overview","rest-server_thumb.jpeg","Thumbnail of screenshot",
					"Исходный код NodeJS REST сервера")
					+card(
					"https://stepanovv.ru/store","bookstoreclient_thumb.png","Thumbnail of screenshot",
					"Веб-клиент сервиса книжного магазина на Angular5")
					+card(
					"//stepanovv.ru/bookStoreServer/apiv1/booklist","rest-server_thumb.jpeg", "Thumbnail of screenshot",
					"NodeJS REST сервер сервиса книжного магазина")
				// с","//www.ssllabs.com/ssltest/analyze.html?d=stepanovv.ru","SSL A+")
				+card(
				"timer.html","timer_preview1_thumb.jpeg", "Thumbnail of screenshot",
				"Таймер «POMODORO»")
				+card(
				"quotes.html","quotes_preview1_thumb.jpeg","Thumbnail of screenshot",
				"Генератор цитат с твитами")
				+card(
				"weather.html","weather_preview1_thumb.jpeg","Thumbnail of screenshot",
				"Погода за окном на VueJS")
				//
				//нужен префикс http чтобы не сыпались ошибки сертификатов, т.к. он переходит по https без префикса
				//
				//
					+card(
					"//bitbucket.org/bskydive/portfoliojs","JSsrc_preview1_thumb.jpeg","Thumbnail of screenshot",
					"Исходный код сайта-портфолио")
					+card(
					"//github.com/bskydive/ssh-agentless-monitoring","monitoring_preview_thumb.jpeg","Thumbnail of screenshot",
					"Bash скрипт мониторинга")
					+card(
					"//github.com/bskydive/mysql_bash_highload_test",	"dbtest_preview_thumb.jpeg", "Thumbnail of screenshot",
					"Bash скрипт многопоточного тестирования Mysql")
					+card(
					"//github.com/bskydive/JavaSECorePractice",
					"javase_preview_thumb.jpeg", "Thumbnail of screenshot",
					"Исходный код JavaSE")
					+card(
					"//img/pixel-perfect_diff.png","pixel-perfect_diff-thumb.png","Thumbnail of screenshot",
					"PixelPerfect вёрстка по шаблону psd")
	.c-portfolio-divider
