<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta lang="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon_star.png">
    <link rel="stylesheet" type="text/css" href="css/portfolio.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  </head>
  <body>
    <main class="c-weather" id="vue-main-controller">
      <div class="c-weather-section container-fluid text-center">
        <noscript>
          <div class="alert alert-danger" role="alert"><strong>Warning!</strong>
             Please, enable JavaScript to see correct markup.
          </div>
        </noscript><a class="btn btn-link" href="https://gitlab.com/stepanovv/kbo/-/blob/master/src/app/weather/weather.README.md" role="button">Weather<sup>β</sup></a>
        <div class="btn-group" role="group">
          <button class="btn btn-default active" type="button">OpenWeatherMap</button>
          <button class="btn btn-default disabled" type="button">NarodMon</button>
        </div>
        <label>{{localization.locationLatDesc[langIdActive]}}
          <input class="input input-default" type="text" placeholder="00.00" v-model="inputLat">
        </label>
        <label>{{localization.locationLonDesc[langIdActive]}}
          <input class="input input-default" type="text" placeholder="00.00" v-model="inputLon">
        </label>
        <button class="btn btn-default" type="text" v-on:click="refreshData"><i class="icon-refresh"></i></button>
        <button class="btn btn-default" type="text" v-on:click="clearCoordsLocal"><i class="c-weather-icon">X</i></button>
      </div>
      <div class="c-weather-section container-fluid text-center">
        <div class="container-fluid text-center c-weather-list-header"><span>{{locationHeader}}</span><span>{{this.locationLabels[this.locationIdActive]}}</span></div>
        <ul class="list-unstyled c-weather-list">
          <li v-for="item in weatherList[locationIdActive]"><span class="c-weather-list-value" v-if="item.value" v-html="item.value"></span><img class="c-weather-list-img" v-if="item.img" v-bind:src="item.img"><span class="c-weather-list-description">{{item.description}}</span></li>
        </ul>
      </div>
      <div class="c-weather-section container-fluid text-center">
        <div class="btn-group" role="group" data-toggle="buttons">
          <button class="btn btn-default" type="button" v-on:click="setLangEn" v-bind:class="{active: isLangEn()}">EN</button>
          <button class="btn btn-default" type="button" v-on:click="setLangRu" v-bind:class="{active: isLangRu()}">РФ</button>
        </div>
        <div class="btn-group" role="group" data-toggle="buttons">
          <button class="btn btn-default" type="button" v-for="(item, index) in locationLabels" v-bind:class="{active: isLocationActive(index)}" v-on:click="setLocationIdActive(index)"><i class="icon-globe"></i>
            <span>{{item}}</span>
          </button>
        </div>
        <div class="btn-group" role="group" data-toggle="buttons">
          <button class="btn btn-default" type="button" v-bind:class="{active: isUnitNameMetric()}" v-on:click="setUnitNameMetric">{{localization.unitNameMetric[this.langIdActive]}}</button>
          <button class="btn btn-default" type="button" v-bind:class="{active: isUnitNameImperial()}" v-on:click="setUnitNameImperial">{{localization.unitNameImperial[this.langIdActive]}}</button>
        </div>
      </div>
    </main>
  </body>
  <script type="text/javascript" src="js/es6-promise.auto.min.js"></script>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/weather.js"></script>
</html>